@model List<BankAccount>

<h2>List of Accounts</h2>


<table>
    <thead>
        <tr><th colspan="4" style="text-align: center">Bank Accounts</th></tr>
    </thead>
    @foreach (BankAccount account in Model)
    {
        <tr>
            <td style="padding: 10px">@account.Id</td>
            <td style="padding: 10px">@account.Name</td>
            <td style="text-align: right">@string.Format("{0:N2}", account.Balance) @account.Currency</td>
            <td style="padding: 10px">@account.AnimalType</td>
        </tr>
    }
</table>